*{
    background-color: #2C3E50;
    color: #3795BD;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
}
/*
    Primary color = 2C3E50
    Secondary color = 3A1078
    Tertiary color = 4E31AA
    Quaternary color = 2F58CD
    Quinary color = 3795BD
    #9500ff (morado intenso)
    #f6c90e (amarillo brillante)
    #2d2d2d (negro)
    #ffffff (blanco)
*/
.nav-bar-container{
    width: 100vw;
    height: 100px;
    display: flex;
}
.nav-bar{
    text-align: center;
    padding: 15px;
    display: flex;
}
.nav-logo{
    justify-content: start;
    padding: 18px;
    margin-right: 1350px;
}
.nav-list, ol, li{
    list-style-type: none;
    padding: 10px;
    display: flex;
    align-items: center;
}
.nav-item a{
    color: #fff;
    text-decoration: none;
    padding: 10px;    
}
.nav-item a:hover{
    color: #57cbff;
    text-decoration: none;
}
#homePage::before{
    content: '01. ';
    color: #57cbff;
}
#proyects::before{
    content: '02. ';
    color: #57cbff;
}
#aboutMe::before{
    content: '03. ';
    color: #57cbff;
}
#contact::before{
    content: '04. ';
    color: #57cbff;
}
/*HERO*/
.hero-container{
    height: 800px;
    padding: 10px;
    text-align: center;
}
.hero-title{
    width: 800px;
    font-size: 50px;
    padding: 10px;
    text-align: start;
    margin: 0 auto;
    background-color: rgba(10, 13, 13, 0.4);
    border-radius: 10px;
    color: #fff;
}

.hero-paragrahp{
    width: 800px;
    margin: 20px auto;
    font-size: 20px;
    padding: 10px;
    background: fixed;
    background-color: rgba(10, 13, 13, 0.4);
    border-radius: 10px;
    color: #fff;
}