{% extends 'layouts/base.html' %}

{% block title %}Home{% endblock %}

{% load static %}
{% block content %}
<div class="hero-container">
    <span>Hi, my name is</span>
    <h1 class="hero-title">Ignacio Javier Medici <br>Software & web developer</h1>
    <p class="hero-paragrahp">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt iusto fuga ipsam unde id
        quam quasi recusandae deleniti sequi exercitationem saepe, totam eveniet fugiat ratione blanditiis odit
        repellendus dicta quidem repellat distinctio sit possimus dolore. Iure quos consequuntur unde provident eveniet
        ipsa sed, iusto nam harum blanditiis pariatur ex quisquam perspiciatis laborum minus impedit quaerat illum
        mollitia. Veritatis fuga suscipit, ratione quas ipsa ut tempora dolorum consequuntur corrupti velit voluptates
        nulla error accusamus reiciendis illum libero quidem modi explicabo unde illo maiores enim voluptatum neque?
        Accusamus facilis consequuntur praesentium voluptates eius natus nam voluptatum non provident cum, cupiditate
        sapiente officiis nemo. Nesciunt est molestiae labore, expedita quod eum voluptatem veniam blanditiis doloremque
        at temporibus, dolorem cumque. Aspernatur, libero excepturi eaque ut vitae omnis, consequuntur et rem cupiditate
        quas illo amet, non similique. Voluptatem vitae voluptate earum perferendis laborum velit sapiente quis delectus
        suscipit illum amet, nulla voluptas veniam excepturi soluta eos labore beatae consequatur quia est ullam quam!
        Cupiditate iusto iure porro atque ea nobis veritatis est odit maiores aliquam soluta quibusdam harum
        exercitationem dicta voluptas tenetur sequi velit libero, molestias laboriosam doloribus eaque. Tempora,
        doloribus nesciunt nihil esse soluta molestias similique eligendi in adipisci quo ut atque praesentium
        voluptates.</p>
</div>

{% endblock %}